<strong>Important Note:<br />We recommend to copy the SQL code listed below, 
rather than using the auto creation interface. Especially if you use third-party Controllers</strong>

<form action="${prepath}/setup/${action}" method="post">
<table class="login">
	<tbody>
	<tr>
		<td colspan="2">
			Please enter the mysql username and password (<em>this user needs create privileges</em>):
		</td>
	</tr>
	<tr>
		<th>
			Username:
		</th>
		<td>
			<input class="text" type="text" name="dbcredentials[user]" size="12" maxlength="40" class="" />
		</td>
	</tr>
	<tr>
		<th>
			Password:
		</th>
		<td>
			<input class="text" type="password" name="dbcredentials[password]" size="12" maxlength="12" />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" value="Execute SQL" /> <input type="reset" value="Clear" />
			
		</td>
	</tr>
	</tbody>
</table>
</form>
